@use 'fonts';

:root {
    --text-size-xs: calc(var(--text-size-base) * 0.7);
    --text-size-sm: calc(var(--text-size-base) * 0.8);
    --text-size-base: calc(0.7rem + 0.3svw + 0.1cqi);
    --text-size-lg: calc(var(--text-size-base) * 1.2);
    --text-size-xl: calc(var(--text-size-base) * 1.4);
    --text-size-2xl: calc(var(--text-size-base) * 1.7);
    --text-size-3xl: calc(var(--text-size-base) * 2);
    --text-size-4xl: calc(var(--text-size-base) * 2.5);
    --text-size-5xl: calc(var(--text-size-base) * 3);

    scrollbar-gutter: stable both-edges;

    color-scheme: dark light;
  }

body {
    font-family: 'Lexica Ultralegible', 'Atkinson Hyperlegible', Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, Helvetica, Arial, sans-serif;
}

p {
    font-size: var(--text-size-base);
}