@font-face {
    font-family: 'Lexica Ultralegible';
    font-style: bold;
    font-weight: 700;
    src: url('/fonts/LexicaUltralegible-Bold.woff2') format('woff2');
    font-display: optional;
}
@font-face {
    font-family: 'Lexica Ultralegible';
    font-style: italic;
    font-weight: 700;
    src: url('/fonts/LexicaUltralegible-BoldItalic.woff2') format('woff2');
    font-display: optional;
}
@font-face {
    font-family: 'Lexica Ultralegible';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/LexicaUltralegible-Italic.woff2') format('woff2');
    font-display: optional;
}
@font-face {
    font-family: 'Lexica Ultralegible';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/LexicaUltralegible-Regular.woff2') format('woff2');
    font-display: optional;
}