body > header {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1rem;
}

body > header > {
    display: block;
    min-width: 11ch;
}