name: Zola Check

on: [pull_request]

jobs:
  zola-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Install zola
        run: sudo snap install --edge zola
      - name: Check zola
        run: zola check --skip-external-links
